<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entries</title>
</head>
<body>

            <div>
                <ol>
                    <li>
                        <p>Username #</p>
                        <a>Text preview</a>
                    </li>
                    <li>
                        <p>Username #</p>
                        <a>Text preview</a>
                    </li>
                    <li>
                        <p>Username #</p>
                        <a>Text preview</a>
                    </li>
                    <li>
                        <p>Username #</p>
                        <a>Text preview</a>
                    </li>
                </ol>
            </div>

</body>
</html>