<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="" charset="UTF-8">
    <title>AuthorSpace login</title>
</head>
<body>
        <center>
            <div>
                <div>
                    <h3>AutorPlaza login</h3>
                </div>
                <form action="#" th:action="@{/login.html}" th:object="${user}" method="post">
                    <div>
                        <label>Name</label>
                        <input type="text" th:field="*{name}" placeholder="Enter Name" >
                        <b th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></b>
                        </br> </br>
                        <label>Lastname</label>
                        <input type="text" th:field="*{lastname}" placeholder="Enter Lastname" >
                        <b th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </b>
                        </br> </br>
                        <label>Password</label>
                        <input type="text" th:field="*{password}" placeholder="Enter Password">
                            <b th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </b>
                        </br> </br>
                        <button>Login</button>
                    </div>
                </form>
            </div>
        </center>
</body>
</html>